.core {

    /**
    * Dimension/Color Variables
    */
    --dimension: 500px;
    --top-color: #e56b6f;
    --indent-color: #b56576;
    --base-color: #6d597a;

    position:relative;
    display:inline-block;
    margin:20px;

    height: var(--dimension);
    width: var(--dimension);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    a {
        height: 450px;

        color:white;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
        font-size: 5rem;
        text-align: center;
        text-decoration:none;

        background-color: var(--top-color);
        
        display:flex;
        justify-content: center;
        align-items: center;

        position:relative;
        padding:20px 40px;

        box-shadow:inset 0 1px 0 var(--indent-color), 0px 10px 0 0px var(--indent-color);
        border-radius: 50%;

        cursor: pointer;

        &:active {
            top:10px;
            background-color:var(--top-color);
            box-shadow:inset 0 1px 0 #361d14;
        }
    }

    &:after {
        content:"";
        height:100%;
        width:100%;
        padding:4px;
        position: absolute;
        bottom:-15px;
        left:-4px;
        z-index:-1;
        background-color:var(--base-color);
        border-radius: 5px;
    }
}